.job-form-container {
  position: relative;
  width: 100%;
  padding: 0% 0%;
}

.job-form {
  margin: 0 auto;
  max-width: 400px;
}

i.fas.fa-user-tie {
  padding-left: 10px;
  font-size: 26px;
}
