
.social-container {
    position: relative;
    width: 100%;
    text-align: center;
    top: calc(100vh - 350px);
    color: #000;
}

.social-item{
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 5px;
}

