.main-container {
  position: relative;
  width: 100%;
  display: table;
}

.left-area {
  width: 15%;
  max-width: 350px;
  float: left;
  border-right: 1px solid #404948;
  position: fixed;
}

.middle-area {
  float: left;
  width: 70%;
  height: 100vh;
  margin-left: 15%;
  /* overflow: hidden;
  overflow-y: scroll; */
}

.right-area {
  float: left;
  width: Calc(14.99% - 2px);
  height: 100vh;
  border-left: 1px solid #404948;
  overflow: hidden;
  position: fixed;
  right: 0;
}

@media screen and (max-width: 670px) {
  .left-area {
    width: 100%;
    max-width: 100%;
    float: none;
    border-right: 0px solid #404948;
    border-bottom: 0px solid #404948;
    position: fixed;
  }

  .middle-area {    
        float: none;
        width: 90%;
        height: 100vh;
        margin-left: 0%;
        margin: 0 auto;    
  }

  .right-area {
    display: none;
  }
}
