.main-container {
    position: relative;
    width: 100%;
    display: table;
}

.left-area{
    width: 15%;
    max-width: 350px;
    float: left;
    border-right: 1px solid #404948;
}

.middle-area{
    float: left;
    width: 70%;
    height: 100vh;
}


.right-area{
    float: left;
    width: Calc(14.99% - 2px);
    height: 100vh;
    border-left: 1px solid  #404948;
    overflow: hidden;
}