.button {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 2.5% 0% 5% 0%;
  padding: 1% 0% 1% 0%;
  z-index: 10;
  border-radius: 50px;
  background: #404a49;
  box-shadow: -3px 12px 30px #363f3e, -7px -7px 30px #4a5554;
  display: table;
}

.container-regular-view {
  display: table-row;
}

.upper-buttons-container {
  width: 33%;
  text-align: center;
  float: left;
}

/* Buttons*/

.alphabet {
  background-image: url(../../../assets/icons/alphabet-on.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 7.5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.alphabet:hover {
  background-image: url(../../../assets/icons/alphabet-off.png);
}

.cover-flow {
  background-image: url(../../../assets/icons/slider-on.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cover-flow:hover {
  background-image: url(../../../assets/icons/slider-off.png);
}

.time-order {
  background-image: url(../../../assets/icons/arrows-on.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6.5px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.time-order:hover {
  background-image: url(../../../assets/icons/arrows-off.png);
}

.regular {
  position: relative;
  flex-direction: row;
  margin-top: 6.5px;
  width: 61px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.vertical {
  width: 3px;
  height: 30px;
  background-color: #fff7a5;
  display: inline-flex;
  margin: 0px 3.5px !important;
}

.regular-slide {
  position: relative;
  flex-direction: row;
  margin-top: 6.5px;
  width: 55px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.horizontal {
  height: 3px;
  border-radius: 59px;
  margin-bottom: 6px;
  background: #fff7a5;
  margin-top: 4px;
}

.regular:hover {
}

.warning {
  position: absolute;
  bottom: 17%;
  margin-left: calc(50% - 90px);
  color: #fff;
}

/* ------------------------ Carousel ------------------------ */

.coverflow__coverflow__53z9A {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
  overflow: hidden;
}

.coverflow__container__1P-xE {
  position: relative;
  background: none !important;
  min-height: 90vh !important;
  max-width: 100% !important;
}

.coverflow__text__39hqd {
  display: none !important;
}

.coverflow__stage__14oqC {
  height: 75% !important;
  width: 56% !important;
  margin-left: 25% !important;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 500px;
}

.coverflow__figure__3bk_C {
  width: 33.3% !important;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 600ms ease;
  backface-visibility: hidden;
  z-index: 9;
  align-self: center;
  box-shadow: none !important;
  -webkit-box-reflect: none !important;
  box-shadow: none;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(
          0,
          0,
          0,
          0
        )
        20%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0)) !important;
  transform: translateX(0px) rotateY(60deg) scale(0.8);
}

.coverflow__arrowWrapper__3qbYP {
  display: contents !important;
  align-items: center;
  overflow: hidden;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v {
  z-index: 999;
  opacity: 1 !important;
  cursor: pointer;
  display: block;
  width: 35.36068px;
  height: 70.72136px;
  position: absolute !important;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:before,
#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:after {
  background: #fef7a6 !important;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
  content: "";
  display: block;
  width: 50% !important;
  height: 2px;
  position: absolute;
  top: calc(50% - (2px / 2));
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v span {
  background: #fef7a6 !important;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__right__1tzAF {
  right: 20% !important;
  bottom: 0%;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
  left: 20% !important;
  bottom: 0%;
}

@media screen and (max-width: 760px) {
  #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
    left: 0% !important;
    bottom: 0%;
  }
  #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__right__1tzAF {
    right: 0% !important;
    bottom: 0%;
  }
}
