.project-container {
  width: 100%;
  float: left;
  text-align: center;
}

.main-title {
  padding: 0% 0% 10% 0%;
  color: #fef7a6;
  text-transform: lowercase;
}

.button-container-mern {
  position: relative;
  display: table;
  width: 95%;
  margin: 0 auto;
  margin-bottom: -10%;
  z-index: 1;
}

.button-edit {
  width: 50%;
  float: left;
  color: #789489;
  text-align: left;
  font-size: 14px;
  -webkit-filter: drop-shadow(2px 4px 3px #b9b9b9);
  filter: drop-shadow(2px 4px 3px #b9b9b9);
}

.button-delete {
  width: 50%;
  float: left;
  color: #ffa1a1;
  text-align: right;
  -webkit-filter: drop-shadow(2px 4px 3px #b9b9b9);
  filter: drop-shadow(2px 4px 3px #b9b9b9);
}

.button-edit:hover {
  width: 50%;
  float: left;
  color: #333333;
  text-align: left;
  font-size: 14px;
  -webkit-filter: drop-shadow(1px 3px 4px #fff);
  filter: drop-shadow(1px 3px 4px #fff);
  transition: 1.5s;
}

.button-delete:hover {
  width: 50%;
  float: left;
  color: #ff0000;
  text-align: right;
  -webkit-filter: drop-shadow(1px 3px 4px #ff9999);
  filter: drop-shadow(1px 3px 4px #ff9999);
  transition: 1.5s;
}

.image-container {
  width: 100%;
  display: table;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(
          0,
          0,
          0,
          0.1
        )
        7.5%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
  overflow: hidden;
  margin: 0% 0% 10% 0%;
}

.image-container img {
  width: 100%;
}

.slider-container-button {
  display: table;
  width: 100%;
  padding: 5% 0% 10% 0%;
}

.button-container-ver {
  border-radius: 15px;
  background: #363d3d;
  box-shadow: 5px 5px 9px #333535, -5px -5px 9px #474949;
  padding: 10px 0px;
  margin: 0 auto;
  width: 33%;
  cursor: pointer;
  border-bottom: 1px solid #212c2a;
  text-align: center;
  color: #fef7a6;
}

.button-container-ver:hover {
  border-radius: 50px;
  background: #1c312f;
  box-shadow: inset 05px 10px 20px #182a28, inset -10px -10px 20px #203836;
  transition: 1s;
  border-radius: 25px;
  cursor: pointer;
}

.button-container-ver a {
  color: #fff7a5;
  font-size: 13px;
}

@media screen and (max-width: 460px) {
  .slider-container-button {
    display: table;
    width: 100%;
    padding: 5% 0% 15% 0%;
    border-bottom: 1px solid #e7e29a;
  }
}
