.home-container {
  position: absolute;
  width: 100%;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-content-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 95%;
}

.video-intro-container {
  width: 100%;
  height: 99%;
  display: table;
}

.video-intro-container iframe {
  width: 100%;
  height: 101%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1000;
  -webkit-box-shadow: 0 0 20px 0 #000000;
  box-shadow: 0 0 20px 0 #000000;
}

.play-container {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30px;
  z-index: 100000;
}

.stop-container {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30px;
  z-index: 100000;
}

.play-container img {
  width: 100%;
  cursor: pointer;
}

.stop-container img {
  width: 100%;
  cursor: pointer;
}

.middle-pos {
  position: relative;
  margin-top: 10%;
  left: 10%;
  display: table;
  width: 75%;
}

.who {
  color: #ffe608;
  padding-bottom: 2.5%;
  font-size: 20px;
}

.who a {
  color: #ffe608;
  padding-bottom: 2.5%;
  font-size: 24px;
  text-decoration: none;
}

.who a:hover {
  transition: 1s;
  color: #04201d;
  cursor: pointer;
}

.what {
  color: #f4eca5;
  padding-bottom: 1.5%;
  font-size: 30px;
}

.techs {
  color: #fff070;
  font-size: 120px;
}

.brief {
  color: #fff;
  text-align: right;
  font-size: 14px;
  width: 85%;
  float: right;
  padding-top: 2.5%;
  line-height: 2;
  display: table;
  padding-bottom: 10%;
}

button.cover-button {
  float: right;
  background: none;
  border: 1px solid #fff070;
  padding: 15px 50px;
  color: #fff070;
}

button.cover-button:hover {
  background: #f4eca5;
  transition: 1s;
  color: #04201d;
  cursor: pointer;
}

button.cover-button a {
  color: #fff070;
  text-decoration: none;
}
button.cover-button a:hover {
  color: #04201d;
}

@media screen and (max-width: 960px) {
  .middle-pos {
    position: relative;
    margin-top: 10%;
    left: 0%;
    display: table;
    width: 100%;
  }

  .techs {
    color: #fff070;
    font-size: 100px;
    text-align: center;
    padding: 5% 0%;
  }

  .brief {
    color: #fff;
    text-align: left;
    font-size: 14px;
    width: 100%;
    float: none;
    padding-top: 2.5%;
    line-height: 2;
    display: table;
    padding-bottom: 10%;
  }

  button.cover-button {
    float: none;
    background: none;
    border: 1px solid #fff070;
    padding: 15px 50px;
    color: #fff070;
    width: 100%;
  }
}

@media screen and (max-width: 690px) {
  .techs {
    color: #fff070;
    font-size: 75px;
    text-align: left;
    padding: 5% 0%;
  }

  button.cover-button {
    float: none;
    background: none;
    border: 1px solid #fff070;
    padding: 15px 50px;
    color: #fff070;
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .techs {
    color: #fff070;
    font-size: 60px;
    text-align: left;
    padding: 5% 0%;
  }
  button.cover-button {
    width: 100%;
  }
}
