label {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }
  
  label span.responsivemenu {
    background: #fff7a5;
    border-radius: 10px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  
  span.responsivemenu:nth-of-type(1) {
    width: 100%;
  }
  
  span.responsivemenu:nth-of-type(2) {
    width: 100%;
  }
  
  span.responsivemenu:nth-of-type(3) {
    width: 100%;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ span.responsivemenu:nth-of-type(1) {
    transform-origin: bottom;
    width: 100%;
    transform: rotatez(45deg) translate(6px, 6px);
  }
  
  input[type="checkbox"]:checked ~ span.responsivemenu:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  
  input[type="checkbox"]:checked ~ span.responsivemenu:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(-10px, -11px) rotatez(45deg);
  }
  
  .main-burger-button-tres {
    position: relative;
    display: inline-block;
  }
  


